@page "/Video"

<h2>Sample Video</h2>

<style>
	body {
		background-color:darkred;
		background-clip
        color:black;
    }
	.backimg{
		background-image: url(images/BG/BoatParty.png)no-repeat;
		opacity:50%;
		width:50%;
		height:50%;
		background-repeat:no-repeat;
	}
</style>

<div 
	<video controls="controls" width="800">
		<source src="/Blobs/Video/Rain.mp4">
	</video>
</div>	

<div
	<video controls="controls" width="800">
		<source src="Blobs/Video/Starry_Night.mp4">
	</video>
</div>
