@page "/Audio"

<h2>Demonstration Jukebox Audio</h2>

<style>
	body {
        background: url(images/BG/BG_Audio.png) no-repeat;
        background-size: 1200px 800px;
		background-position: left 200px top 56px;
		opacity: 100%;
        color: white;
    }
</style>

<div>  
	<audio controls="controls">
		<source src="/Blobs/Audio/Ripingtons.mp3">
	</audio>
</div>

 <a href="https://radio.garden/listen/heavy1/rH122vcl">
	<button
		style="
		position: absolute;
		width:200px;
		height:120PX;
		left:710px;
		top:610px;
		background-color:white;
		border-radius:0px;
		opacity:10%;
		">World Radio
	</button>
</a>