@page "/RadarChart"
@using Syncfusion.Blazor.Charts

<PageTitle>Charts</PageTitle>
<h2>Charts</h2>

<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 200px;
    }
</style>

<br/>
<div id = "ControlRegion">
 <SfChart Theme="Theme.Fluent"   >
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>           
    <ChartSeriesCollection>
        <ChartSeries DataSource="@dataSource"  Type="ChartSeriesType.Radar" Name="Germany" XName="xValue" YName="yValue">
        </ChartSeries>
        <ChartSeries DataSource="@dataSource" Type="ChartSeriesType.Radar" Name="England" XName="xValue" YName="yValue1">
        </ChartSeries>
    </ChartSeriesCollection>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
    </SfChart>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Chart Types - Polar</li>
      <li class="list"> Zooming</li>
      <li class="list"> Tooltip</li>
      <li class="list"> Theme - Fluent</li>
    </ul>
</div>
<br/>

@code {
    public class PolarLineChartData
    {
        public string xValue { get; set; }
        public double yValue { get; set; }
        public double yValue1 { get; set; }
    }
    public List<PolarLineChartData> dataSource = new List<PolarLineChartData>
    {
        new PolarLineChartData { xValue = "Jan", yValue = -7.1, yValue1 = -17.4 },
        new PolarLineChartData { xValue = "Feb", yValue = -3.7, yValue1 = -15.6  },
        new PolarLineChartData { xValue = "Mar", yValue = 0.8, yValue1 = -12.3  },
        new PolarLineChartData { xValue = "Apr", yValue = 6.3, yValue1 = -5.3 },
        new PolarLineChartData { xValue = "May", yValue = 13.3, yValue1 = 1.0 },
        new PolarLineChartData { xValue = "Jun", yValue = 18.0, yValue1 =  6.9  },
        new PolarLineChartData { xValue = "Jul", yValue = 19.8 , yValue1 = 9.4 },
        new PolarLineChartData { xValue = "Aug", yValue = 18.1, yValue1 = 7.6 },
        new PolarLineChartData { xValue = "Sep", yValue = 13.1 , yValue1 = 2.6 },
        new PolarLineChartData { xValue = "Oct", yValue = 4.1, yValue1 = -4.9},
        new PolarLineChartData { xValue = "Nov", yValue = -3.8, yValue1 = -13.4 },
        new PolarLineChartData { xValue = "Dec", yValue = -6.8, yValue1 = -16.4 },
    };
}
