@page "/polar-radar"
@using Syncfusion.Blazor.Charts

<PageTitle>Polar/Radar</PageTitle>
<h2>Polar/Radar</h2>
<br/>

<SfButton Content="Ekrienne" @onclick="Update">

</SfButton>

<SfChart Title="Ekrienne">
	<ChartSeriesCollection>
		<ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
		LabelPlacement="LabelPlacement.OnTicks" StartAngle="45" Coefficient="135">

		</ChartPrimaryXAxis>
		<ChartPrimaryYAxis Minimum="-5" Maximum="25" Interval="10" LabelFormat="{value}*C">

		</ChartPrimaryYAxis>
		<ChartSeries Type="ChartSeriesType.Radar" DrawType="ChartDrawType.Line"
		DataSource="@ChartData" XName="Month" YName="Temperature">
			<ChartMarker Visible="true" Height="17" Width="17"></ChartMarker>
		</ChartSeries>
	</ChartSeriesCollection>
	<ChartTooltipSettings Enable="true"></ChartTooltipSettings>
</SfChart>